# VS Bits
DotNet/src/JustGiving.Api.*/bin
DotNet/src/JustGiving.Api.*/obj
*/tests/**/*.dll
*/tests/**/*.pdb
*/tests/**/*.xml
*.dotCover
*.suo
logs
DotNet/TestResult.xml
# ReSharper
_ReSharper.*
*.user