{
  "parser": "babel-eslint",
  "rules": {
    "strict": false,
    "no-underscore-dangle": false,
    "quotes": [2, "single"],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "no-undef": false,
    "curly": false,
    "no-console": false,
    "dot-notation": false
  }
}
