<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="justGivingDataSdk" type="JustGiving.Api.Data.Sdk.Configuration.JustGivingDataSdkConfiguration, JustGiving.Api.Data.Sdk"/>
  </configSections>
    
<startup><supportedRuntime version="v2.0.50727"/></startup>

  <justGivingDataSdk CharityId="2050" RootDomain="http://dataapi.local.justgiving.com/" ApiVersion="1" ApiKey="dalbf1d2" Username="evu@uqnzycezoe.nco" Password="egguc367" />

</configuration>
