<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="justGivingSdk" type="JustGiving.Api.Sdk.Configuration.JustGivingSdkConfigurationSection, JustGiving.Api.Sdk"/>
    <section name="testConfigurations" type="JustGiving.Api.Sdk.Test.Integration.Configuration.TestConfigurations, JustGiving.Api.Sdk.Test.Integration"/>
  </configSections>
  <justGivingSdk ApiKey="dalbf1d2" RootDomain="http://dataapi.local.justgiving.com/" ApiVersion="1" DefaultWireDataFormat="Json" DefaultZip="true" CharityId="50" />

  <testConfigurations rflDomain="www.local.raceforlifesponsorme.org" charityUserUserName="hsusa.vowoar@gqnuxwuwgc.chg" charityTestUserPassword="zcnfh377" rflUsername="rfltester@justgiving.com" validEventId="700854" apiLocation="http://api.local.justgiving.com/" apiKey="c064cbf2" rflEventReference="1"/>
  
</configuration>