<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <justGivingSdk xdt:Transform="Replace" ApiKey="dalbf1d2" RootDomain="https://staging-dataapi.justgiving.com/" ApiVersion="1" DefaultWireDataFormat="Json" DefaultZip="true" CharityId="50"/>  
  <testConfigurations xdt:Transform="Replace" rflDomain="http://rfl-staging.justgiving.com" apiKey="4747fc9a" apiLocation="http://api-staging.justgiving.com/" charityUserUserName="hsusa.vowoar@gqnuxwuwgc.chg" rflUsername="rfltester@justgiving.com" validEventId="700854"/>
</configuration>