<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <testConfigurations xdt:Transform="Replace"
                      rflDomain="rfl-staging2.justgiving.com"
                      rflEventReference="537"
                      apiKey="4747fc9a"
                      apiLocation="https://api-staging.justgiving.com/"
                      charityUserUserName="hqmcxpytt@eqapzpdcqx.whz"
                      charityTestUserPassword="ffolu583"
                      rflUsername="rfltester@justgiving.com"
                      validEventId="700854"/>
</configuration>