<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="justGivingSdk" type="JustGiving.Api.Sdk.Configuration.JustGivingSdkConfigurationSection, JustGiving.Api.Sdk"/>
    <section name="testConfigurations" type="JustGiving.Api.Sdk.Test.Integration.Configuration.TestConfigurations, JustGiving.Api.Sdk.Test.Integration"/>
  </configSections>
  <justGivingSdk ApiKey="dalbf1d2" RootDomain="http://dataapi.local.justgiving.com/" ApiVersion="1" DefaultWireDataFormat="Json" DefaultZip="true" CharityId="50" />
  <!--<justGivingSdk ApiKey="dalbf1d2" RootDomain="https://staging-dataapi.justgiving.com/" ApiVersion="1" DefaultWireDataFormat="Json" DefaultZip="true" />-->

  <testConfigurations rflDomain="www.local.raceforlifesponsorme.org" />
</configuration>