<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
  <testConfigurations xdt:Transform="Replace" StartDate="17/04/2012:00:00:00"  TestUserPassword="zqfed068" TestUserName="ehaevaj.hbvef@ngazszqoqt.obx.xm" />
  <justGivingDataSdk xdt:Transform="Replace" CharityId="2050" RootDomain="https://staging-dataapi.justgiving.com/" ApiVersion="1" ApiKey="dalbf1d2"/>
  
</configuration>