<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
  <!--<justGivingSdk  ApiKey="dalbf1d2" RootDomain="https://staging-dataapi.justgiving.com/"  ApiVersion="1"  DefaultWireDataFormat="Json"  DefaultZip="true"    />-->

  <testConfigurations xdt:Transform="Replace" startDate="17/04/2012:00:00:00"  apiLocation="https://staging-dataapi.justgiving.com/" />
                    
  
</configuration>