<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="justGivingSdk" type="GG.Api.Sdk.Configuration.JustGivingSdkConfigurationSection, GG.Api.Sdk"/>
    <section name="justGivingDataSdk" type="JustGiving.Api.Data.Sdk.Configuration.JustGivingDataSdkConfiguration, JustGiving.Api.Data.Sdk"/>
    <section name="testConfigurations" type="JustGiving.Api.Data.Sdk.Test.Integration.Configuration.TestConfigurations, JustGiving.Api.Data.Sdk.Test.Integration"/>
  </configSections>
  <!--
  ApiKey is the API key that was issued to you via 3Scale
  RootDomain is the uri of the JustGiving SDK, e.g. https://api.justgiving.com 
  ApiVersion is default version of the methods you are calling. However, you could override this value on per API method.
  DefaultWireDataFormat available types are Xml and Json. Json is smaller, therefore it is the preferred if you are not accessing the data directly. 
  DefaultZip true will compress the stream between the client and the server which is better for large streams of data.
  -->
  <!-- <justGivingSdk ApiKey="dalbf1d2" RootDomain="http://dataapi.local.justgiving.com/" ApiVersion="1" DefaultWireDataFormat="Json" DefaultZip="true" CharityId="50" />  -->

  <testConfigurations StartDate="01/05/2012:00:00:00" TestUserPassword="egguc367" TestUserName="evu@uqnzycezoe.nco" CustomCodePageId="3621516" EventId="210194" PageCreatedStartDate="01/02/2010:00:00:00" CustomCodeEventId="805482"  PageStatus="false" KnownGiftAidPaymentId="2429910" KnownDonationPaymentId="1062979" KnownEventIdForCustomCodes="805390" KnownPageId="3621516"/>
  <!--<testConfigurations StartDate="01/05/2012:00:00:00" TestUserPassword="ymyfm308" TestUserName="xoxjd@fubcpnqojw.trg" CustomCodePageId="3665746" EventId="210194" PageCreatedStartDate="01/02/2010:00:00:00" CustomCodeEventId="824313" PageStatus="true" KnownGiftAidPaymentId="2428911" KnownDonationPaymentId="2466911"  KnownEventIdForCustomCodes="824405" KnownPageId="3665746" />-->
    
  <justGivingDataSdk CharityId="2050" RootDomain="http://dataapi.local.justgiving.com/" ApiVersion="1" ApiKey="dalbf1d2"/>
  
  <startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
